/* Hide context navigation,
context navigation separator,
overflow menu customize separator,
overflow menu customize button,
tab PLAYING and MUTE indicators,
and tab burst load animation */
#context-navigation,
#context-sep-navigation,
#widget-overflow toolbarseparator,
#overflowMenu-customize-button,
hbox .tab-secondary-label,
.tab-loading-burst {
  display: none !important;
}

/* Restore connected tabs, make burger menu compact, align back button with tab, make UI compact in general, etc */
:root {
  --tab-block-margin: 0px !important;
  --proton-tab-block-margin: 0px !important;
  --lwt-selected-tab-background-color: transparent !important;
  --tab-border-radius: 0px !important;
  --panel-font-size: 1em !important;
  --arrowpanel-menuitem-padding: 0px 16px !important;
  --arrowpanel-menuitem-margin: 0px !important;
  --arrowpanel-menuitem-border-radius: 0px !important;
  --toolbar-start-end-padding: 0.21em !important;
  --tab-min-height: 29px !important;
  --toolbarbutton-outer-padding: 3px !important;
  --toolbarbutton-inner-padding: 6px !important;
  /* --bookmark-block-padding: 1px !important; */
  --urlbar-min-height: 26px !important;
  --urlbar-icon-padding: 3px !important;
}

/* remove padding between tabs */
.tabbrowser-tab {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

/* Remove margin between buttons */
#TabsToolbar .toolbarbutton-1 {
  margin: 0 !important;
  padding-inline: 0 !important;
}

/* Remove margin from pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

/* Maintain original tab size when scrollstrip enables, otherwise tab size will awkwardly increase */
#scrollbutton-up,
#scrollbutton-down {
  border: 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

/* I remembered why I hid the zoom indicator in the first place, that horrible animation!!!!! grrr!!!!! */
#urlbar-zoom-button[animate="true"] {
  animation-name: none !important;
}

/* Replace default overflow menu button icon with the extension/plugin icon */
#nav-bar-overflow-button {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg") !important;
}

/* align bookmarks with nav and tabs */
#PersonalToolbar {
  padding-inline: 0.2em !important;
}

/* Make context menus slightly more compact */
menupopup > :is(menuitem, menu) {
  padding-block: 0.3em !important;
}

/* Preserve standard width and margin for icons where applicable */
menupopup:not(.in-menulist)
  > :is(menuitem, menu):not([checked="true"], [icon], [class*="-iconic"]) {
  padding-inline-start: 36px !important;
  min-width: 19em !important;
}

/* Makes the speaker icon to always appear if the tab is playing (not only on hover) BEGIN */
#tabbrowser-tabs[secondarytext-unsupported]
  .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])
  > :not(.tab-icon-overlay),
#toolbar-menubar:not(:hover)
  + #TabsToolbar:not(:hover)
  #tabbrowser-tabs:not([secondarytext-unsupported])
  .tab-icon-image[src]
  ~ .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]),
:is(#toolbar-menubar:hover + #TabsToolbar, #TabsToolbar:hover)
  .tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked])
  > :not(.tab-icon-overlay) {
  opacity: 1 !important;
}

.tab-icon-overlay:not([crashed]) {
  top: -4.5px !important;
  inset-inline-end: -9px !important;
  z-index: 1 !important;
  background: transparent !important;
  width: 16px !important;
  height: 16px !important;
}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--toolbar-bgcolor, white) !important;
  stroke: var(--lwt-tab-text, var(--toolbar-color)) !important;
  background-color: var(--lwt-tab-text, var(--toolbar-color)) !important;
  fill-opacity: 0.95 !important;
}

#TabsToolbar[brighttext] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar[brighttext] .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar[brighttext]
  .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--toolbar-bgcolor, black) !important;
}

.tabbrowser-tab:not([image])
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):hover {
  padding: 0 !important;
}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
  opacity: 1 !important;
}
/* Makes the speaker icon to always appear if the tab is playing (not only on hover) END */
